In [43]:
import pandas as pd
import numpy as np

In [44]:
test=pd.read_csv('test.csv')
train=pd.read_csv('train.csv')

In [45]:
test.head(1)

,id,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,1235,no,adult,534053,38.6,40.0,20.0,normal,normal,normal_pink,...,distend_small,42.0,7.5,clear,2.3,no,0,0,0,no

In [46]:
train.head(1)

,id,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data,outcome
0,0,yes,adult,530001,38.1,132.0,24.0,cool,reduced,dark_cyanotic,...,57.0,8.5,serosanguious,3.4,yes,2209,0,0,no,died

In [47]:
print(train.columns)
print(test.columns)

Index(['id', 'surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse',
       'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdomo_appearance',
       'abdomo_protein', 'surgical_lesion', 'lesion_1', 'lesion_2', 'lesion_3',
       'cp_data', 'outcome'],
      dtype='object')
Index(['id', 'surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse',
       'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdomo_appearance',
       'abdomo_protein', 'surgical_lesion', 'lesion_1', 'lesion_2', 'lesion_3',
       'cp_data'],
      dtype='object')

In [48]:
outcome=train['outcome']
outcome.head(1)

0    died
Name: outcome, dtype: object

In [49]:
train = train[['id', 'surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse',
               'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
              'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
               'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
               'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
               'packed_cell_volume', 'total_protein', 'abdomo_appearance',
               'abdomo_protein', 'surgical_lesion', 'lesion_1', 'lesion_2', 'lesion_3',
               'cp_data']]
train.head(1)

,id,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,0,yes,adult,530001,38.1,132.0,24.0,cool,reduced,dark_cyanotic,...,distend_small,57.0,8.5,serosanguious,3.4,yes,2209,0,0,no

In [50]:
train.describe()

,id,hospital_number,rectal_temp,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein,lesion_1,lesion_2,lesion_3
count,1235.0000,1.235000e+03,1235.000000,1235.000000,1235.000000,1235.000000,1235.000000,1235.000000,1235.000000,1235.000000,1235.000000,1235.000000
mean,617.0000,9.545004e+05,38.202186,79.574089,30.054251,4.382591,49.602429,21.388016,3.290931,3832.496356,14.612146,3.577328
std,356.6581,1.356403e+06,0.788668,29.108638,16.452066,1.937357,10.535800,26.676453,1.589195,5436.733774,193.705735,88.858953
min,0.0000,5.213990e+05,35.400000,30.000000,8.000000,1.000000,23.000000,3.500000,0.100000,0.000000,0.000000,0.000000
25%,308.5000,5.288000e+05,37.800000,53.000000,18.000000,2.000000,43.000000,6.600000,2.000000,2205.000000,0.000000,0.000000
50%,617.0000,5.297770e+05,38.200000,76.000000,28.000000,4.500000,48.000000,7.500000,3.000000,2209.000000,0.000000,0.000000
75%,925.5000,5.341450e+05,38.600000,100.000000,36.000000,6.000000,57.000000,9.100000,4.300000,3205.000000,0.000000,0.000000
max,1234.0000,5.305129e+06,40.800000,184.000000,96.000000,7.500000,75.000000,89.000000,10.100000,41110.000000,3112.000000,2209.000000

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1235 entries, 0 to 1234
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1235 non-null   int64
 1   surgery                1235 non-null   object
 2   age                    1235 non-null   object
 3   hospital_number        1235 non-null   int64
 4   rectal_temp            1235 non-null   float64
 5   pulse                  1235 non-null   float64
 6   respiratory_rate       1235 non-null   float64
 7   temp_of_extremities    1235 non-null   object
 8   peripheral_pulse       1235 non-null   object
 9   mucous_membrane        1235 non-null   object
 10  capillary_refill_time  1235 non-null   object
 11  pain                   1235 non-null   object
 12  peristalsis            1235 non-null   object
 13  abdominal_distention   1235 non-null   object
 14  nasogastric_tube       1235 non-null   object
 15  nasogastric_reflux     1235 non-null   object
 16  nasogastric_reflux_ph  1235 non-null   float64
 17  rectal_exam_feces      1235 non-null   object
 18  abdomen                1235 non-null   object
 19  packed_cell_volume     1235 non-null   float64
 20  total_protein          1235 non-null   float64
 21  abdomo_appearance      1235 non-null   object
 22  abdomo_protein         1235 non-null   float64
 23  surgical_lesion        1235 non-null   object
 24  lesion_1               1235 non-null   int64
 25  lesion_2               1235 non-null   int64
 26  lesion_3               1235 non-null   int64
 27  cp_data                1235 non-null   object
dtypes: float64(7), int64(5), object(16)
memory usage: 270.3+ KB

In [60]:
print(train["peripheral_pulse"].unique())
print(train["peripheral_pulse"].value_counts())

['reduced' 'normal' 'None' 'absent' 'increased']
reduced      724
normal       429
None          60
absent        18
increased      4
Name: peripheral_pulse, dtype: int64

In [53]:
train.shape

(1235, 28)

In [66]:
train.isnull().sum()

id                         0
surgery                    0
age                        0
hospital_number            0
rectal_temp                0
pulse                      0
respiratory_rate           0
temp_of_extremities       39
peripheral_pulse          60
mucous_membrane           21
capillary_refill_time      6
pain                      44
peristalsis               20
abdominal_distention      23
nasogastric_tube          80
nasogastric_reflux        21
nasogastric_reflux_ph      0
rectal_exam_feces        190
abdomen                  213
packed_cell_volume         0
total_protein              0
abdomo_appearance         48
abdomo_protein             0
surgical_lesion            0
lesion_1                   0
lesion_2                   0
lesion_3                   0
cp_data                    0
dtype: int64

In [58]:
# Replace None with NaN using replace()
# train.replace(to_replace=None, value=np.nan, inplace=True)
# train = train.fillna(value=np.nan)
value_to_replace = 'None'
column_to_replace_in = 'temp_of_extremities'
train.loc[train[column_to_replace_in] ==
       value_to_replace, column_to_replace_in] = np.nan
#

In [65]:
columns_to_replace_in = train.columns#.to_list()
for column in columns_to_replace_in:
    train.loc[train[column] == value_to_replace, column] = np.nan